
.container{
    width: 720px;
    background-color: fff;
   
    margin: 0 auto;
}
#marca{
 
    background-color: rgb(200, 197, 197);
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px 10px 0px 0px;
}
#conteudo{
    width: 510px;
    display: flex;
    float: right;
    text-align: left;
   
}
#conteudo-principal{
 
   
}
#conteudo-secundario{
    border: 1px solid rgb(192, 182, 182);
    border-radius: 0px 0px 10px 10px;
    height:200px;
    background-color: rgb(227, 225, 225);
    padding: 10px;
   
}
#navegacao{
    border: 1px solid rgb(192, 182, 182);
    border-radius: 0px 0px 10px 10px;
    width: 160px;
    background-color: rgb(227, 225, 225);
    padding-top: 10px;
    padding-bottom: 10px;
     
}
a{
    text-decoration: none;
    color: black;  
 
}
a:hover{
    color: blue;
    
}
ul{
    list-style-type: none;
}
#rodape{
    clear: both;
    background-color: rgb(177, 175, 175);
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}