*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
  display: block;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 16px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    line-height:42px;
}
li{
    background-color:#199395;
    width: 155px;
    text-align: center;
    border: 1px solid gray;
}
a{
    text-decoration: none;
    color: white;
    
}
li:hover{
    background-color: gray;
    color: blanchedalmond;
}


