@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

body{
    background-color:#1E1E1E ;
    color: white;
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1240px;
    margin: 0 auto;
    padding: 15px;
}

/* Header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img{
  width: 200px; height: 100px;
}
li{
    display: inline-block;
    margin: 20px;
    font-size: 16px;
}
a{
    color: white;

}
a:hover{
    color: #3A7C2E;
    transition: 0.3s all;
}
#btn{
    border: 1px solid #3A7C2E;
    border-radius: 15px;
    padding: 10px;
}

#btn:hover{
    color: white;
    background-color: #3A7C2E;
}
/* Main */
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 20px;
}
h1{
    font-size: 54px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span{
    color: #3A7C2E;
}

img{
    gap: 10px;
}

p{
    margin-top:48px ;
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
    max-width: 470px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
}

#input{
    margin-top: 29px;
    padding: 15px;
    border-radius: 20px;
}

#btn-action{
    margin-top: 29px;
    width: 50%;
    padding:15px;
    border-radius: 35px;
    background-color: #0F6100;
    color: white;
    border: none;
    
}

#btn-action:hover{
   transform: scale(1.2);
   transition: transform 0.3s ease;
}