@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color:#1E1E1E ;
    color: white;
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1240px;
    margin: 0 auto;
   
}

h2{
    font-size: 40px;
 
    
}

/* Header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img{
  width: 200px; height: 100px;
}
li{
    display: inline-block;
    margin: 20px;
    font-size: 16px;
}
a{
    color: white;

}
a:hover{
    color: #3A7C2E;
    transition: 0.3s all;
}
#btn{
    border: 1px solid #3A7C2E;
    border-radius: 15px;
    padding: 10px;
}

#btn:hover{
    color: white;
    background-color: #3A7C2E;
}
/* Main */
.hero{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 20px;
}
.h1-hero{
    font-size: 54px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span{
    color: #3A7C2E;
}

img{
    gap: 10px;
}

.p-hero{
    margin-top:48px ;
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
    max-width: 470px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
}

#input{
    margin-top: 29px;
    padding: 15px;
    border-radius: 20px;
}

#btn-action{
    margin-top: 29px;
    width: 50%;
    padding:15px;
    border-radius: 35px;
    background-color: #0F6100;
    color: white;
    border: none;
    
}

#btn-action:hover{
   transform: scale(1.2);
   transition: transform 0.3s ease;
}

/* section SERVIÇOS */

.servicos{
    margin-top: 150px;
    position: relative;
}

#h1-regular{
    font-family: "Gilda Display", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 46px;
    padding-left: 80px;
    margin-bottom: 22px;
    
}

#span-regular{
    color:#B6FFA9 ;
}
.container {
    position: relative;
    width: 100%;
    height: 700px; /* defina a altura como preferir */
    
}

.imagem {
    position: absolute;
    right: 6%;
    width: 100%;
    height: 100%;
    background: url('../imag/Imagem-Yoga.png') no-repeat left;
    opacity: 0.2;
}

.texto {
    position: absolute;
    right: 10%;
    top: 15%;
    width: 50%;
    background-color: #c0ffb0;
    padding: 60px;
    border-radius: 999px;
    color: #1E1E1E;
    text-align: justify;
}


.NossoServico{

    margin-top: -310px;
    display: flex;
    flex-direction: column;
}
#title-Servico{
   
    text-align: right;
    width: 86%;
    padding: 20px;
}
.escolhas-servico{
    margin:43px;
    padding: 20px;
    gap:80px ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

.escolha p{
   
    width:300px ;
    text-align: center;
    padding: 20px;
    margin-top: 29px;
}


/* Sobre */
.sobre{
    margin-top: 90px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 53px;
    justify-content: center;
}
.topico-sobre{
    display: flex;
    flex-direction: column;
    padding:60px;
}
#descricao-sobre{
    margin-top: 25px;
    text-align: justify;
    line-height: 56px;
}
.feedback{
    display: flex;
    flex-direction: column;
    gap: 60px;
    
}
.comentarios{
    width: 505px;
    height: 266px;
    border: 2px solid #3A7C2E;
    border-radius: 15px;
    padding: 60px;
    /* margin: 35px; */

}
@media screen and (max-width:760px){
    body {
        text-align: center;

    }
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
        
    }
    .img-hero, .imagem, .container{
        display: none;
    }
   
    .NossoServico{
        margin-top: 70px;
    }
    
    .escolhas-servico{
        display: flex;
        flex-direction: column;

    }
    #h1-regular, .h1-hero{
        font-size: 40px;
        text-align: center;
    }

    form{
        margin:0 auto;
        width: 100%;
    }

    input{
        align-items: center;
        
    }
}